.button {
  background-color: #011c57;
  border: none;
  color: white;
  cursor: pointer;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
