.container {
  background-color: #eee;
  border-radius: 3px;
  display: flex;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 24rem;
}

.name {
  flex: 75%;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}

.add {
  flex: 25%;
}
